header {
    width: 50em;
    height: 5em;
    background: blue;
    margin: 0 auto;
}
#container {
    position: relative;
    width: 50em;
    height: 100%;
    margin: 0 auto;
 }

#redgrp {
    background-color: red;
    width: 15em;
    height: 50em;
    float: left;
}

#grngrp {
    background-color: green;
    width: 15em;
    height: 50em;
    float: right;
/*    clear: both;*/
}

.student {
    clear: both;
    position: inline-block;
    float: left;
    width: 15em;
    height: 2em;
    border: 1px solid black;

}



/*.clear { clear: both; }*/